.sec-2 .left-side .front img {
    height: 100%;
    width: 100%;
    border-radius: 40px;
    box-shadow: 2px 2px 5px 2px #777;
}

.sec-2 .left-side .front {
    backface-visibility: hidden;
    z-index: 2;
    position: absolute;
}

.sec-2 .left-side .back {
    height: 100%;
    width: 100%;
    background-color: #252F31;
    border-radius: 40px;
    backface-visibility: hidden;
    position: absolute;
    z-index: 1;
    transform:rotateY(180deg);
    transition:all ease 2s 1.5s;
}

    .sec-2 .left-side .back ul {
        margin-top: 0px;
        list-style-type: circle;
        padding-top: 20px;
    }

        .sec-2 .left-side .back ul li {
            margin-bottom: 20px;
            font-family: Arial;
            font-size: 1.2em;
            font-weight: bold;
            color: #eee;
         opacity:0;
        }

            .sec-2 .left-side .back ul li:last-of-type {
                list-style-type: none;
                margin-top: 50px;
            }

.sec-2 .left-side:hover {
    transition-delay:0.2s;
    transform: rotateY(180deg);
}
    .sec-2 .left-side:hover .back {
        
        width:70%;
    } 
.sec-2 .left-side:hover .back ul li {
    animation:beVisible 1s ease 1 2s forwards;
}
.sec-2 .left-side:hover .back ul li:first-of-type{
    animation-delay:3s;
}
.sec-2 .left-side:hover .back ul li:nth-of-type(2){
    animation-delay:4s;
}
.sec-2 .left-side:hover .back ul li:nth-of-type(3){
    animation-delay:5s;
}
.sec-2 .left-side:hover .back ul li:nth-of-type(4){
    animation-delay:6s;
}
.sec-2 .left-side:hover .back ul li:nth-of-type(5){
    animation-delay:7s;
}
.sec-2 .left-side:hover .back ul li:nth-of-type(6){
    animation-delay:8s;
}
.sec-2 .left-side:hover .back ul li:last-of-type{
    animation-delay:8s;
}