.sec-6 section{
    width:100%;
    float:left;
    text-align:center;
    margin-top:50px;
    color:#888;
}

.sec-6 section p{
    
    font-size:20px;
    font-family:'Segoe UI';
}
.sec-6 section p:before{
    content:'"';
}
.sec-6 section p:after{
    content:'"';
}